<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiskUsageAnalizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DiskUsageAnalizer.Properties.Settings>
            <setting name="listView1Header1_Width" serializeAs="String">
                <value>34</value>
            </setting>
            <setting name="listView1Header6_Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="listView1Header2_Width" serializeAs="String">
                <value>97</value>
            </setting>
            <setting name="listView1Header3_Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="listView1Header4_Width" serializeAs="String">
                <value>63</value>
            </setting>
            <setting name="listView1Header5_Width" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="Form1_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Form1_ClientSize" serializeAs="String">
                <value>656, 421</value>
            </setting>
            <setting name="_filePath" serializeAs="String">
                <value />
            </setting>
            <setting name="groupBox2_Location" serializeAs="String">
                <value>498, 27</value>
            </setting>
            <setting name="groupBox2_Size" serializeAs="String">
                <value>130, 343</value>
            </setting>
            <setting name="groupBox1_Location" serializeAs="String">
                <value>13, 27</value>
            </setting>
            <setting name="groupBox1_Size" serializeAs="String">
                <value>479, 343</value>
            </setting>
            <setting name="listbox1_Location" serializeAs="String">
                <value>6, 19</value>
            </setting>
            <setting name="listbox1_Size" serializeAs="String">
                <value>467, 318</value>
            </setting>
            <setting name="listView1Header7_Width" serializeAs="String">
                <value>48</value>
            </setting>
        </DiskUsageAnalizer.Properties.Settings>
    </userSettings>
</configuration>